<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro de Reserva</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <mat-form-field class="col-span-2">
            <mat-label>Espaço</mat-label>
            <mat-select formControlName="space" required>
              <mat-option *ngFor="let espaco of espacos" [value]="espaco.id">
                {{espaco.nome}} - {{espaco.localizacao}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="reservationForm.get('space')?.errors?.['required']">
              Espaço é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nome do Evento</mat-label>
            <input matInput formControlName="nameEvent" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tipo de Evento</mat-label>
            <mat-select formControlName="typeEvent" required>
              <mat-option *ngFor="let tipo of tiposEventoArray" [value]="tipo.valor">
                {{tipo.chave}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data da Reserva</mat-label>
            <input matInput [matDatepicker]="datePicker" formControlName="registrationReserve" required>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Período</mat-label>
            <mat-select formControlName="period" required>
              <mat-option *ngFor="let periodo of periodoEventoArray" [value]="periodo.valor">
                {{periodo.chave}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="reservationForm.get('type')?.errors?.['required']">
              Tipo é obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Horário de Início</mat-label>
            <input matInput type="time" formControlName="startTime" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Horário de Término</mat-label>
            <input matInput type="time" formControlName="endTime" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Situação</mat-label>
            <mat-select formControlName="situation" required>
              <mat-option *ngFor="let status of statusArray" [value]="status.valor">
                {{status.chave}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Responsável</mat-label>
            <input matInput formControlName="responsability" 
                   placeholder="Nome do responsável" required>
          </mat-form-field>

          <mat-form-field class="col-span-2">
            <mat-label>Observações Adicionais</mat-label>
            <textarea matInput formControlName="observation" 
                      placeholder="Informações extras sobre o espaço" rows="4">
            </textarea>
          </mat-form-field>
        </div>

        <div class="button-group">
          <button mat-button type="button" color="warn" (click)="onCancel()">
            Cancelar
          </button>
          <button mat-raised-button (click)="salvarReserva()" type="submit" color="primary" 
                  [disabled]="!reservationForm.valid">
            Salvar Reserva
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>